<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Cliente</title>
</head>
<body>
    <h1>Bem-vindo, {{ cliente.nome }}</h1>
    <h2>Seus Dados</h2>
    <p>Email: {{ cliente.email }}</p>
    <p>Data de Nascimento: {{ cliente.data_nascimento }}</p>
    <p>Celular: {{ cliente.celular }}</p>

    <h2>Endereços</h2>
    <ul>
        {% for endereco in cliente.enderecos %}
            <li>{{ endereco.rua }}, {{ endereco.numero }}, {{ endereco.bairro }}, {{ endereco.cidade }} - Ponto de referência: {{ endereco.ponto_referencia }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('logout') }}">Sair</a>
</body>
</html>